.badge {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border: none;
  border-radius: 32px;
  user-select: none;
}
.badge.neutral {
  background-color: var(--greyA-100);
  color: var(--grey-900);
}
.badge.blue {
  background-color: var(--blue-100);
  color: var(--blue-700);
}
.badge.red {
  background-color: var(--red-100);
  color: var(--red-500);
}
.badgeText {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 590;
  font-size: 12px;
  padding: 2px;
}
