.button {
  font-family: 'SF Pro', sans-serif;
  font-size: 16px;
  font-weight: 510;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  background: #626ee9;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  width: 104px;
}
.button:hover {
  background: #626de9ae;
}
.button:active {
  background: #626ee9;
}
.error {
  background: #af2c2c;
}
.error:hover {
  background: #af2c2cc1;
}
.error:active {
  background: #af2c2c;
}
.transparent {
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
}
.transparent:hover {
  color: #ffffff;
  background: transparent;
}
.transparent:active {
  background: transparent;
}
.full {
  width: 100%;
  height: 44px;
}
.svg {
  font-size: 16px;
  font-weight: 510;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.svg:hover {
  color: #ffffff;
  background: transparent;
}
.svg:active {
  background: transparent;
}
/* .loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-top: 4px solid #ffffff;
  border-right: 4px solid transparent;
  animation: spinner8217 0.8s linear infinite;
}

@keyframes spinner8217 {
  to {
    transform: rotate(360deg);
  }
} */

.loader {
  border: 4px solid #ffffff;
  border-left-color: transparent;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
