.button {
  font-family: 'SF Pro', sans-serif;
  font-size: 16px;
  font-weight: 510;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  height: 36px;
  background: #626ee9;
  border-radius: 12px;
  width: 104px;
  border: none;
  cursor: pointer;
}
.button:hover {
  background: #626de9ae;
}
.button:active {
  background: #626ee9;
}
.error {
  background: #af2c2c;
}
.error:hover {
  background: #af2c2cc1;
}
.error:active {
  background: #af2c2c;
}
.transparent {
  background: transparent;
}
.transparent:hover {
  color: #ffffff;
  background: transparent;
}
.transparent:active {
  background: transparent;
}
.w100 {
  width: 100%;
}
