.banner {
  display: flex;
  gap: 8px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  height: 284px;
}
.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}
.title {
  font-weight: 510;
  font-size: 20px;
  color: #cfcfcf;
  margin: 32px 0 16px;
}
