.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    width: 204px;
    height: 120px;
    background: radial-gradient(50% 50% at 50% 50%, #010224 0%, #000000 100%);
    border: 4px solid #f7efef;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
  }