.progress {
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 8px;
  background-color: #25252a;
}
.progress__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.title {
  font-weight: 510;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}
.arrow__svg {
  fill: rgba(255, 255, 255, 0.8);
}
.arrow__svg:hover {
  fill: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 590;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
}
.subtitle {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
.bar {
  margin-bottom: 12px;
}
