.progress {
  height: 106px;

  border-radius: 16px;
  padding: 16px;
  margin-bottom: 8px;
  background-color: var(--grey-50);
}
.subtitle {
  font-weight: 510;
  font-size: 18px;
  color: #b4b4b4;
  margin-bottom: 16px;
}
.info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 590;
  color: #cfcfcf;
  margin-bottom: 16px;
}
