.progress {
  height: 106px;
  border: 1px solid #414141;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 8px;
  background-color: rgba(36, 36, 36, 1);
}
.achievements {
  height: 148px;
  border: 1px solid #414141;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 8px;
  background-color: rgba(36, 36, 36, 1);
}
.task {
  height: 50px;
  border: 1px solid #414141;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 8px;
}
@media (max-width: 1024px) {
  .progress {
    flex: 1;
    height: 250px;
  }
  .achievements {
    flex: 1;
    height: 250px;
  }
  .leaderboard {
    flex: 1;
    height: 250px;
  }
}
