.modalBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, );
    padding-top: 150px;
}

.ModalWindow{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    
    width: 380px;
    
    background: #171717;
    
    border: 1px solid rgba(252, 252, 252, 0.2);
    border-radius: 16px;
    
    flex: none;
    order: 3;
    flex-grow: 0;

    /* НЕ ЗАБУДЬ УБРАТЬ */
    margin: 20px;
}

.modalHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 332px;
    height: 40px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.modalTitle{

    width: 288px;
    height: 24px;

    /* title/medium */

    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 510;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */


    /* text/high_em */

    color: #CFCFCF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.modalBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 332px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.modalMassage{
    width: 332px;
    height: 20px;

    /* body/medium */

    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */


    /* text/medium_em */

    color: #B4B4B4;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.modelFooter{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 332px;
    height: 44px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}