.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 8px;
}
.title {
  font-size: 32px;
  color: #cfcfcf;
}
.subtitle {
  font-size: 20px;
  color: #cfcfcf;
  margin: 32px 0 16px;
}
