.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 8px;
}
.title {
  font-size: 32px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 4px;
}
.desc {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 32px;
  width: 80%;
}
.wrapper {
  margin: 8px 24px 64px 292px;
}
.back {
  display: flex;
  padding: 16px 2px 2px 0;
  margin-bottom: 8px;
}
.back__svg {
  transform: scaleX(-1);
  fill: rgba(255, 255, 255, 0.8);
}
.back__text {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 4px;
}
.back:hover .back__text {
  color: #ffffff;
}
.back:hover .back__svg {
  fill: #ffffff;
}
