.btn {
  margin-left: 120px;
}
.nav {
  margin-right: 120px;
  margin-left: 64px;
  display: flex;
}
.nav li {
  margin-left: 10px;
  color: var(--textsecond);
}
.nav li:hover {
  margin-left: 10px;
  color: var(--white);
}
@media (max-width: 1024px) {
  .btn {
    margin-left: 15px;
  }
  .nav {
    margin-right: 15px;
  }
}
