.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top__logo {
  display: flex;
  align-items: center;
}
.top__logo__img {
  display: flex;
}
.top__menu {
  display: flex;
}
.top__menu li {
  margin-left: 24px;
  color: var(--thirdtext);
  font-weight: 400;
  font-size: 16px;
}
.top__menu li:hover {
  color: var(--maintext);
}
.down {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.down__left {
  display: flex;
}
.down__left li {
  color: var(--thirdtext);
  font-weight: 400;
  font-size: 16px;
}
.down__left li:nth-child(1) {
  margin-left: 2px;
}
.down__left li:nth-child(2) {
  margin-left: 16px;
}
.down__left li:hover {
  color: var(--maintext);
}
.down__right {
  display: flex;
}
.down__right li {
  margin-left: 19px;
}
