.top {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top__logo {
  display: flex;
  align-items: center;
}
.top__logo__img {
  display: flex;
}
.top__logo__text {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 600;
}
.top__menu {
  display: flex;
}
.top__menu li {
  margin-left: 24px;
  color: var(--thirdtext);
  font-weight: 400;
  font-size: 16px;
}
.top__menu li:hover {
  color: var(--maintext);
}
.down {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}
.down__left {
  display: flex;
}
.down__left li {
  color: var(--thirdtext);
  font-weight: 400;
  font-size: 16px;
}
.down__left li:nth-child(2) {
  margin-left: 16px;
}
.down__left li:hover {
  color: var(--maintext);
}
.down__right {
  display: flex;
}
.down__right li {
  margin-left: 19px;
}

@media (max-width: 1200px) {
  .top {
    margin: 35px 5px 0;
  }
  .down {
    margin: 32px 5px 0;
  }
}
