.accord {
  border-radius: 12px;
}
.accord:hover {
  background: #2f2f34;
}
.accord__active {
  background: #25252a;
}
.title {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  transition: all 0.3s ease-out;
}
.title__active {
  border-radius: 16px 16px 0px 0px;
  transition: all 0.2s ease-out;
}
.content {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  padding: 0 16px;
  color: #b4b4b4;
  user-select: none;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.2s ease-out, padding 0.2s ease-out,
    opacity 0.1s ease-out, visibility 0.1s ease-out;
}
.content__active {
  padding: 4px 16px 8px;
  visibility: visible;
  opacity: 1;
  max-height: 700px;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out,
    opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
}

.links {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
  font-weight: 510;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
.links:hover {
  background: #39393e;
}
.arrow {
  transition: transform 0.3s ease-in-out; /* добавляем transition */
}
.arrow.rotate {
  transform: rotate(-180deg);
}
