.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 510;
  font-size: 18px;
  background-color: #171717;
  border: 1px solid #3a3a3a;
  border-radius: 16px;
  padding: 16px 21px 16px 17px;
  transition-delay: 0.2s;
}
.title__active {
  border-radius: 16px 16px 0px 0px;
}
.top {
  display: flex;
}
.titleText {
  margin-left: 9px;
}
.accordionContent {
  padding: 16px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-radius: 0px 0px 16px 16px;
  font-weight: 400;
  font-size: 14px;
  border-color: #3a3a3a;
  background-color: #101010;
  color: #b4b4b4;
}
