.wrapper {
  min-height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  z-index: 3;
  padding: 0 12px;
  height: 56px;
}
.sidebar {
  width: 260px;
  padding: 8px;
  margin-left: 8px;
  background: #1b1b21;
  border: 1px solid #36363a;
  border-radius: 16px;

  position: fixed;
  top: 64px;
}
.main {
  flex: 1;
}
.footer {
  margin: 32px 24px 36px 292px;
  display: flex;
  flex-direction: column;
}

/* @media (max-width: 1024px) {
  .sidebar {
    position: static;
    display: flex;
    width: 100%;
    margin-top: 32px;
    gap: 10px;
  }
  .main {
    margin: 32px 0;
  }
} */
