.wrapper {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.header {
  position: sticky;
  top: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  z-index: 10;
  background-color: var(--background);
}
.sidebar {
  width: 280px;
  position: fixed;
  top: 92px;
  font-size: 20px;
}
.main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex: 1;
  width: 100%;
}
.page {
  margin: 32px 0 32px 320px;
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  flex: 1;
}
.footer {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--border);
}
@media (max-width: 1024px) {
  .sidebar {
    position: static;
    display: flex;
    width: 100%;
    margin-top: 32px;
    gap: 10px;
  }
  .page {
    margin: 32px 0;
  }
  .main {
    flex-direction: column;
  }
}
